@import "tailwindcss" source(none);
@source "../css";
@source "../js";
@source "../../lib/heatwave_web";

@plugin "../vendor/heroicons";

@plugin "../vendor/daisyui";

@plugin "../vendor/daisyui-theme" {
    name: "dark";
    default: "true";
    --root-bg: #000;
}

@plugin "../vendor/daisyui-theme" {
    name: "light";
    default: "false";
    --root-bg: #fff;
}
