# Mix compilation.
/_build/

# Coverage assets from "mix test --cover".
/cover/

# Mix dependency downloads.
/deps/

# ExDoc generated docs.
/doc/

# VM crash dumps.
erl_crash.dump

# Archive artifacts (via `mix archive.build`).
*.ez

# Temporary files, e.g. from tests.
/tmp/

# Package tarball (via `mix hex.build`).
heatwave-*.tar

# Assets from build tools.
/priv/static/assets/

# Asset cache digest.
/priv/static/cache_manifest.json

# Node.js/npm.
npm-debug.log
/assets/node_modules/

# Database.
*.db
*.db-*
